# Pasta de build final 
/public/
/resources/_gen/

# Diretórios temporários e caches
/.hugo_build.lock
/assets/jsconfig.json

# Logs e arquivos de sistema
*.log
.DS_Store
Thumbs.db

# Módulos do Hugo 
.hugo_cache/

